/* styles.css */
.failed-attempts {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failed-attempt {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  /* border: 1px solid #000000; */
  width: 90%;
}

.failed-attempt p {
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  /* border-right: 2px solid #000000; */
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  white-space: break-spaces;  
}



.failed-attempt p:last-child {
  border-right: none;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: #D91515FF;
}

.higher-dob {
  background: linear-gradient(to top, lightgreen , #D91515FF);
}

.lower-dob {
  background: linear-gradient(to top, #D91515FF , lightgreen);
}

.same-dob-green {
  background-color: lightgreen;
}

.partial-match {
  background-color: yellow;
}

.boxy {
  user-select: none;
}

.groupGuessesAnswersRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 90%;
}

.squearanswer {
  margin: 0;
  position: relative;
  border: 1px solid hsla(0, 0%, 100%, .59);
  box-sizing: border-box;
  min-width: 70px;
  font-size: 0.8em;
  font-weight: 650 !important;
  border-radius: 0.25rem !important;
  white-space: pre;
  box-shadow: inset 0 0 5px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  letter-spacing: 0.4px;
  flex: 1;
}

.container-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.background-header-square {
  background-color: gainsboro;
}

.winner{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.failed{
  text-align: center;
  background-color: chocolate;  
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}